[project]
	description = Everyday Git tools
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tamas Mezei (tmezei)
[access "refs/for/refs/*"]
	read = group user/Tamas Mezei (tmezei)
	push = group user/Tamas Mezei (tmezei)
	label-Code-Review = -2..+2 group user/Tamas Mezei (tmezei)
	label-Verified = -1..+1 group user/Tamas Mezei (tmezei)
	rebase = group user/Tamas Mezei (tmezei)
	removeReviewer = group user/Tamas Mezei (tmezei)
	submit = group user/Tamas Mezei (tmezei)
[access "refs/heads/*"]
	read = group user/Tamas Mezei (tmezei)
	create = group user/Tamas Mezei (tmezei)
	push = +force group user/Tamas Mezei (tmezei)
	pushMerge = group user/Tamas Mezei (tmezei)
[access "refs/tags/*"]
	push = +force group user/Tamas Mezei (tmezei)
	pushTag = group user/Tamas Mezei (tmezei)
	pushSignedTag = group user/Tamas Mezei (tmezei)
